#sh_owl_items {
	>.owl-stage-outer {
		>.owl-stage {
			&:not(:empty) {
				padding: 5px 10px;
			}
			display: flex;
		}
	}
	.owl-item {
		.item {
			cursor: pointer !important;padding: 0.25rem 0.7rem;border: 1px solid #ccc;white-space: nowrap;position: relative;width: auto !important;margin-right: 1px !important;
			&:hover {
				background-color: $primaryColor;color: #fff;
			}
		}
		.sh_remove_tab {
			margin-left: 4px !important;padding: 2px 3px 1px 3px;border-radius: 50rem;font-size: 12px;
			&:hover {
				background-color: $primaryColor;color: #fff;transition: all .3s;
			}
		}
		.item.sh_active {
			background-color: $primaryColor;color: #fff;
		}
	}
	#sh_tab_ul.sh_multi_tab_ul {
		&::-webkit-scrollbar {
			height: 0px !important;width: 0px !important;
		}
	}
}

#sh_owl_items {
	#sh_tab_ul {
		width: 100% !important;
	}
}
.sh_main_content {
	.custom-nav.owl-nav {
		display: none !important;
	}
	#sh_owl_items {
		.owl-dots {
			display: none !important;
		}
	}
}


@if $button_style == 'style_1'{    
    #sh_owl_items {
        .owl-item {
            .item {
                border-radius: 0px;
            }
        }
    }
}
@if $button_style == 'style_2'{    
    #sh_owl_items {
        .owl-item {
            .item {
                border-radius: 5px;
            }
        }
    }
}
@if $button_style == 'style_3'{
    #sh_owl_items {
        .owl-item {
            .item {
                border-radius: 5px 15px 5px 15px;
            }
        }
    }
}
@if $button_style == 'style_4'{
    #sh_owl_items {
        .owl-item {
            .item {
                border-radius: 50rem;
            }
        }
    }
}


@media only screen and (max-width: 992px){
    #sh_owl_items{display: none !important;}
}